.titolo {
    font-family: 'Staatliches';
    font-size: 50px;
    text-align: center;
}

.sottotitolo {
    font-family: 'Staatliches';
    font-size: 30px;
    text-align: center;
}

.ex {
    border-radius: 20px;
    background-color: #f7f8fa;
    font-family: 'Raleway';
    width: 20%;
    position: absolute;
    left: 80%;
    top: 3%;
    display: none;
}

.ex h2 {
    margin: 3%;
}